body {
	margin-left: 200px;
	margin-right: 200px;
}

.top-container {
  background-color: #E2E8E9;
  padding: 10px;
  text-align: center;
}

h1 {
	text-align: center;
	font-size: 35px;
}

h5 {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E2E8E9;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 15px;
	margin: 0;
    text-decoration: none;
    target: _self;
}

li.nav a:hover:not(.active) {
    background-color:  #ccc;
}

li.nav a.active {
    background-color: #002147;
    color: white;
}

ul.nobul {
	list-style-type: none;
	margin: 0cm;
	padding: 0cm;
	padding-left: 0cm;
}

li {
	padding: 3px 0px;
}

li ul {
	margin: 0;
	padding: 3px 25px;
}

li dd {
	margin: 0;
	padding: 3px 10px;
}

a:link {
    text-decoration: none;
    target: _blank;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ol.arm {
	list-style-type: lower-armenian;
	margin: 0;
	margin-bottom: 6pt;
	padding-left: 30px;
}

ol.spaced li { 
	margin-bottom: 8pt; 
}

ul.spaced li { 
margin-bottom: 8pt; 
}

p.indented {
	padding-left: 1em;
}

ul.indented {
	margin-left: 1em;
	margin-top: 0pt;
}

details {
overflow: hidden;
background: transparent;
margin-left: 10px;
margin-top: 7px;
margin-bottom: 7px;
width: 550px;
}

details[open] {
background: transparent;
margin-left: 10px;
margin-top: 7px;
margin-bottom: 7px;
}

details summary {
cursor: pointer;
padding-bottom: 10px;
font-size: 16px;
}

summary::-webkit-details-marker {
color: rgb(101,115,156);
}

table td, table td * {
vertical-align: top;
}

table.courses { 
table-layout: auto;
width: 65%;
margin-left: 10px; 
margin-bottom:7px; 
}

table.courses td { width: 12%; } 
table.courses td+td { width: 88%; }

.content {
  padding: 16px;
 
}

.sticky {
  position: sticky;
  top: 0;
}

.sticky + .content {
  padding-top: 102px;
}


figure {
    display: inline-block;
    border: none;
    margin: 0px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: none;
    text-align: center;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: 33ACFF;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
