body {
	margin-left: 200px;
	margin-right: 200px;
}

h1 {
	text-align: center;
	font-size: 35px;
}

h5 {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}


.vertical-menu {
    width: 200px; /* Set a width if you like */
    float: right;
}

.vertical-menu a {
    background-color: #E2E8E9; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
    text-decoration: none;
}

.vertical-menu a.active {
    background-color: #002147; /* Add a green color to the "active/current" link */
    color: white;
}

a:link {
    text-decoration: none;
    target: _blank;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}



details {
overflow: hidden;
background: transparent;
margin-left: 10px;
margin-top: 7px;
margin-bottom: 7px;
width: 550px;
}

details[open] {
background: transparent;
margin-left: 10px;
margin-top: 7px;
margin-bottom: 7px;
}

details summary {
cursor: pointer;
padding-bottom: 10px;
font-size: 16px;
}

summary::-webkit-details-marker {
color: rgb(101,115,156);
}

.dropdown {
  position: relative; 
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  position: relative; 
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  position: relative; 
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
